################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/akgit
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/akgit.slnx
/.vs/CopilotSnapshots/B9F27A26DE98984BAF900C1BE4ED8830
